{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ stock["name"] }}</td>
                    <td>{{ stock["shares"] }}</td>
                    <td>{{ usd(stock["price"]) }}</td>
                    <td>{{ usd(stock["shares"] * stock["price"]) }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">Total Amount</th>
                <td>{{ usd(cash) }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
